(
    keys: (
        move_up: K,
        move_down: J,
        move_left: H,
        move_right: L,
        move_up_left: Z,
        move_up_right: U,
        move_down_left: B,
        move_down_right: N,
        descend: Period,
        grab_item: G,
        drop_item: D,
        remove_item: R,
        open_inventory: I,
        go_back: Escape,
        wait_turn: Space,
    ),
    visuals: (
        full_screen: true,
        screen_shake: false,
        dynamic_color: false,
    ),
)