#![enable(implicit_some)]
(   spawn_table: [
        //Mons
        (name: "Kobold",                weight: 10, min_depth: 1, max_depth: 3,   scales_to_depth: false,),
        (name: "Giant Spider",          weight: 4,  min_depth: 1, max_depth: 4,   scales_to_depth: false,),
        (name: "Goblin",                weight: 6,  min_depth: 1, max_depth: 6,   scales_to_depth: true, ),
        (name: "Orc",                   weight: 3,  min_depth: 2, max_depth: 100, scales_to_depth: true, ),
        (name: "Health Potion",         weight: 6,  min_depth: 1, max_depth: 100, scales_to_depth: true, ),
        (name: "Magic Missile Scroll",  weight: 4,  min_depth: 1, max_depth: 100, scales_to_depth: true, ),
        (name: "Fireball Scroll",       weight: 3,  min_depth: 1, max_depth: 100, scales_to_depth: true, ),
        (name: "Simple Dagger",         weight: 4,  min_depth: 1, max_depth: 100, scales_to_depth: false,),
        (name: "Simple Shield",         weight: 3,  min_depth: 1, max_depth: 100, scales_to_depth: false,),
        (name: "Battle Axe",            weight: 2, min_depth: 2, max_depth: 100, scales_to_depth: false,),

    ],
    mobs: [
        (
            name: "Kobold",
            blocks_tile: true,
            vision_range: 6,
            render: (
                glyph: 107,
                color: (200, 0, 0),
                order: 2,
            ),
            stats: (
                max_hp: 10,
                defense: 0,
                power: 3,
            ),
        ),
        (
            name: "Goblin",
            blocks_tile: true,
            vision_range: 8,
            render: (
                glyph: 103,
                color: (200, 0, 0),
                order: 2,
            ),
            stats: (
                max_hp: 16,
                defense: 1,
                power: 3,
            ),
        ),
        (
            name: "Orc",
            blocks_tile: true,
            vision_range: 8,
            render: (
                glyph: 111,
                color: (200, 0, 0),
                order: 2,
            ),
            stats: (
                max_hp: 20,
                defense: 0,
                power: 5,
            ),
        ),
        (
            name: "Giant Spider",
            blocks_tile: true,
            vision_range: 8,
            render: (
                glyph: 15,
                color: (200, 0, 0),
                order: 2,
            ),
            stats: (
                max_hp: 15,
                defense: 2,
                power: 3,
            ),
        ),
    ],
    items: [
        (
            name: "Health Potion",
            render: (
                glyph: 173,
                color: (255, 0, 255),
                order: 2,
            ),
            consumable: (
                effects: {
                    "provides_healing": "8",
                },
            ),
        ),
        (
            name: "Magic Missile Scroll",
            render: (
                glyph: 41,
                color: (0, 255, 255),
                order: 2,
            ),
            consumable: (
                effects: {
                    "range": "6",
                    "damage": "20",
                },
            ),
        ),
        (
            name: "Fireball Scroll",
            render: (
                glyph: 41,
                color: (255, 165, 0),
                order: 2,
            ),
            consumable: (
                effects: {
                    "range": "6",
                    "damage": "20",
                    "area_of_effect": "3",
                },
            ),
        ),
        (
            name: "Simple Shield",
            render: (
                glyph: 9,
                color: (0, 255, 255),
                order: 2,
            ),
            shield: (
                defense_bonus: 2
            ),
        ),
        (
            name: "Simple Dagger",
            render: (
                glyph: 47,
                color: (0, 255, 255),
                order: 2,
            ),
            weapon: (
                damage_bonus: 2,
            ),
        ),
        (
            name: "Battle Axe",
            render: (
                glyph: 20,
                color: (0, 255, 255),
                order: 2,
            ),
            weapon: (
                damage_bonus: 5,
            ),
        ),
    ]
)